{% extends 'base.html' %}

<!-- html -->
{% block title_bar %}포토폴리오-홈페이지{% endblock %}
{% block title %}Index{% endblock %}
{% block content %}

<!-- 카드 -->
{% for card in cards %}

<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{card.id}}</strong>
        <h3 class="mb-0">{{card.title}}</h3>
        <p class="card-text mb-auto">{{card.describe}}</p>
        <a href="{% url 'detail' card.id %}" class="stretched-link">자세히보기</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src = {{ card.img.url }}  alt="Card_Image" width="200px" height="200px">
      </div>
    </div>
  </div>

  {% endfor %}
    {% endblock %}